<!-- comment_form.html 
Created: 2025-02-16
Updated: 2025-02-16

This is the template for the users to enter their chirp body into ChirpForm
-->
<!--Extends from base template for formate reusability-->
{% extends "base.html" %}
<!--content block to be inserted in base template-->
{% block content %}
<h1>Enter your Chirp - max 255 characters</h1>
<!--Creates a form for user to write a new chirp-->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!--Submit button for chirp posts-->
    <button type="submit" class="btn btn-primary">Post</button>
</form>
{% endblock %}