<!-- home.html 
Created: 2025-02-25
Updated: 2025-03-05

This is the template for the home page, it used bootstrap for layout.
the home page has the the following section:
    main section: display chirp posts from the database
    button section: create chirp button and sort chirp button.
-->

<!--Extends from base template to reuse the common layout structure-->
{% extends "base.html" %}

<!--Content block that will be inserted into the base template depending on where block content tag is placed-->
{% block content %}
<!--Content container that holds the chirps -->
<div class="content">
    <!--Loops through the chirps list, rendering each one individually using the render chirps template-->
    {% for chirp in chirps %}
    {% include "chirper/partials/render_chirps.html" %}
    <!--No chirps to render if list is empty-->
    {% empty %}
    <p class="text-center text-muted">No chirps yet. Be the first to post!</p>
    <!--Ends loop rendering chirps-->
    {% endfor %}
</div>
<!-- Sorting Dropdown Menu -->
<form id="dropdownForm" method="POST">
    {% csrf_token %}
    <div class="dropdown">
        <button class="btn btn-primary filter-dropdown-btn" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <!-- This button will be updated with the javascript to be the selected sort option -->
            Dropdown Option
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" data-value="date">Date Created</a></li>
            <li><a class="dropdown-item" href="#" data-value="most_likes">Most Likes</a></li>
            <li><a class="dropdown-item disabled" href="#" data-value="latest_reply" aria-disabled="true">Latest Reply(WIP)</a></li>
            <li><a class="dropdown-item disabled" href="#" data-value="most_replies" aria-disabled="true">Most Replies(WIP)</a></li>
        </ul>
        <input type="hidden" name="selected_option" id="selectedOption">
    </div>
</form>


<!-- Create New Chirp Button -->
<button class="create-chirp-btn" data-bs-toggle="modal" data-bs-target="#chirpModal">
    Create New Chirp</button>

<!--Pop Up(Modal) for Creating a New Chirp-->
<div class="modal fade" id="chirpModal" tabindex="-1" aria-labelledby="chirpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Pop up header-->
            <div class="modal-header">
                <h5 class="modal-title" id="chirpModalLabel">Create a New Chirp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fw-medium" style="color: red;">
                    Warning: Do not attempt to create a chirp while not logged in, it will create a error.
                </p>
                <p>
                    If you ran into such a issue, just delete all text after "chirper" in browser URL, then attach "home" after "chirper"
                </p>
            </div

            <!-- Modal Body (Includes chirp_form template) -->
            <div class="modal-body">
                <form method="POST" action="{% url 'chirp_view' %}">
                    {% csrf_token %}

                    <!-- Render Chirp Form Dynamically -->
                    {% if form %}
                    {{ form.as_p }}
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Post Chirp</button>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-warning">Login</a> to post a chirp.
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
</div>



<!--content block needs to be closed-->
{% endblock %}