<!--
chirper/templates/profile.html
Updated: 2025/03/24

Shows the profile page so user can know if they are logged in.
-->



<!--Extends from base template for formate reusability-->
{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
<!--Use django's request object to display the currently logged in user-->
<h1>Hello @{{ request.user.username }} :)</h1>
{% else %}
<!--If user isn't logged in, show login button-->
<h1>Login to view your account</h1>
{% endif %}
{% endblock %}