<!-- home.html 
Created: 2025-02-25
Updated: 2025-03-03

This is the template for the home page, it used bootstrap for layout.
the home page has the the following section:
    top bar : has web app name and login button
    main section: display chirp posts from the database
    bottom section: place for users to create their chirp (new chirp or reply)
-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chirper Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>        
      /* For the user to create new post */
      .bottom-section {
        position: fixed;
        bottom: 0;
      }

      /* To make it fill the whole width of screen*/
      .top-bar-container {
        padding: 0;
      }
    </style>
    <!-- htmx setup-->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

  </head>
  <body>
    
    <div class="container-fluid text-center top-bar-container">
      <!-- top bar: web app name and login button-->
      <div class="row p-2 align-items-center bg-primary-subtle text-primary-emphasis">

        <!-- empty column for top bar layout-->
        <div class="col"></div>

        <!-- web app name -->
        <div class="col">
          <h3>Chirper 🐦‍🔥</h3>
        </div>

        <!-- login button-->
        <div class="col text-end">
          <button type="button" class="btn btn-warning">login</button>
        </div>

      </div>
      <!-- end of top bar-->
    </div>



    <!-- Display chirps -->
    <div class="container p-2 bg-primary text-white">
      <div id="chirps-container" hx-get="{% url 'chirp_view' %}" hx-trigger="load">
        <!-- Chirps will be loaded here dynamically -->
      </div>
    <!-- Start of the commented section (to test htmx chirp card)-->
    <script type="text/javascript">
    /*
      {% include 'chirper/chirp_fragment.html' %}
      <!-- A card to display chirp-->
      <div class="card mt-2 text-start">
        
        <div class="row card-header">
          <div class="col text-start">
            User_ID and User_name
          </div>
          <div class="col text-end">
            Created at 2025-02-25
          </div>

        </div>
        
        <div class="card-body">
           <p class="card-text">The content of the chirp goes here - example: With supporting text 
            below as a natural lead-in to additional content.
            example: With supporting text below as a natural lead-in to additional content.
            example--:--(255char)
           </p> 
        </div>

        <!-- Card footer: like button, wrtie reply button, number of replies of the chirp-->
        <div class="row card-footer align-items-center">
          <div class="col text-start">
            <a href="#" class="btn like-btn-toggle btn-outline-primary">Like</a>
          </div>
          <div class="col text-center">
            <a href="#" class="btn btn-primary">write a reply</a>
          </div>
          <div class="col text-end text-body-secondary">
            35 replies
          </div>
        </div>
      </div>
      <!-- end of chirp card-->

      <!-- A card to display chirp-->
      <div class="card mt-2 text-start">
        
        <div class="row card-header">
          <div class="col text-start">
            User_ID and User_name
          </div>
          <div class="col text-end">
            Created at 2025-02-25
          </div>

        </div>
        
        <div class="card-body">
           <p class="card-text">The content of the chirp goes here - example: With supporting text 
            below as a natural lead-in to additional content.
            example: With supporting text below as a natural lead-in to additional content.
            example--:--(255char)
           </p> 
        </div>

        <!-- Card footer: like button, wrtie reply button, number of replies of the chirp-->
        <div class="row card-footer align-items-center">
          <div class="col text-start">
            <a href="#" class="btn like-btn-toggle btn-outline-primary">Like</a>
          </div>
          <div class="col text-center">
            <a href="#" class="btn btn-primary">write a reply</a>
          </div>
          <div class="col text-end text-body-secondary">
            35 replies
          </div>
        </div>
      </div>
      <!-- end of chirp card-->
    */
    </script>
    <!-- End of the commented section (to test htmx chirp card)-->


      
    </div>


    <!-- User create a new chirp here -->
    <div class="bottom-section container-fluid text-center bg-black text-white">
      <h5> Create new Chirp</h5>
    </div>
    <!-- End of User creating new chirp section-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    

    <script>
      /* For the like button toggle */
      document.addEventListener('DOMContentLoaded', (event) => {
          document.querySelectorAll('.like-btn-toggle').forEach(button => {
              button.addEventListener('click', function() {
                  if (this.classList.contains('btn-outline-primary')) {
                      this.classList.remove('btn-outline-primary');
                      this.classList.add('btn-primary');
                      this.innerHTML = 'Liked';
                  } else {
                      this.classList.remove('btn-primary');
                      this.classList.add('btn-outline-primary');
                      this.innerHTML = 'Like';
                  }
              });
          });
      });
    </script>
  </body>
</html> 
