<!-- home.html 
Created: 2025-02-25
Updated: 2025-03-03

This is the template for the home page, it used bootstrap for layout.
the home page has the the following section:
    top bar : has web app name and login button
    main section: display chirp posts from the database
    bottom section: place for users to create their chirp (new chirp or reply)
-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chirper Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>        
      /* For the user to create new post */
      .bottom-section {
        position: fixed;
        bottom: 0;
      }

      /* To make it fill the whole width of screen*/
      .top-bar-container {
        padding: 0;
      }
    </style>
    <!-- htmx setup-->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

  </head>
  <body>
    
    <div class="container-fluid text-center top-bar-container">
      <!-- top bar: web app name and login button-->
      <div class="row p-2 align-items-center bg-primary-subtle text-primary-emphasis">

        <!-- empty column for top bar layout-->
        <div class="col"></div>

        <!-- web app name -->
        <div class="col">
          <h3>Chirper 🐦‍🔥</h3>
        </div>

        <!-- login button-->
        <div class="col text-end">
          <button type="button" class="btn btn-warning">login</button>
        </div>

      </div>
      <!-- end of top bar-->
    </div>



    <!-- Display chirps -->
    <div class="container p-2 bg-primary text-white">
      <!-- Use htmx to load chirps as card (code in chirp_fragment.html)-->
      <div id="chirps-container" hx-get="{% url 'chirp_view' %}" hx-trigger="load">
        <!-- Chirps will be loaded here dynamically -->
      </div>
    </div>

    <!-- Indicate there are no chirps left -->
    <!-- Also act as filling so bottom section won't cover any chirps-->
    <div class="container-fluid text-center text-white p-3">

      <div class="card mt-2 text-center" style="border: none;">

       
        <div class="card-body">
          <h3>
            You got to the last chirp!
          </h3>
        </div>
        
        <!-- Card footer: like button, write reply button, number of replies of the chirp-->
        <div class="row card-footer align-items-center">
            <div class="text-center container-fluid">
              <button type="button" class="btn btn-danger">
                Just a filler
              </button>
            </div>

        </div>
        </div>

      
    </div>

    <!-- Bottom section: Contains button for user to create a new chirp -->
    <div class="bottom-section container-fluid text-center bg-black text-white pt-3 pb-3">
      <!-- Button to trigger chirpForm modal -->
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#createChirpModal">
        Create new chirp
      </button>
    </div>
    <!-- End of bottom section-->

    <!-- Modal for user to enter new chirp content -->
    <div class="modal fade" id="createChirpModal" tabindex="-1" aria-labelledby="createChirpModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">Enter your Chirp</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'chirp_form' %}">
              <!-- Generate CSRF token for better security -->
              {% csrf_token %}
              <!-- Render the form fields as <p> paragraphs -->
              {{ form.as_p }}
              <!-- Provide "submit" with the text "Post" to users -->
              <button type="submit" class="btn btn-primary">Save and post</button>
            </form>
          </div>
          <div class="modal-footer">
            <div class="col text-start text-body-secondary">
              max 255 characters
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
            <button type="button" class="btn btn-primary" onclick="document.getElementById('chirpForm').submit();">Save and Close</button>
          </div>
        </div>
      </div>
    </div> 
    <!-- End of Modal for user to enter new chirp-->
    
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    

    <script>
      /* For the like button toggle */
      document.addEventListener('DOMContentLoaded', (event) => {
          document.querySelectorAll('.like-btn-toggle').forEach(button => {
              button.addEventListener('click', function() {
                  if (this.classList.contains('btn-outline-primary')) {
                      this.classList.remove('btn-outline-primary');
                      this.classList.add('btn-primary');
                      this.innerHTML = 'Liked';
                  } else {
                      this.classList.remove('btn-primary');
                      this.classList.add('btn-outline-primary');
                      this.innerHTML = 'Like';
                  }
              });
          });
      });
    </script>
  </body>
</html> 
